exportPattern("^[^\\.]")
useDynLib(GeoModels)
export(GeoSim,GeoFit,GeoKrig,GeoWLS,GeoVariogram,GeoCovariogram,GeoCovmatrix)
S3method(print,GeoFit) 
S3method(print,GeoWLS)
importFrom("grDevices", dev.cur,gray.colors)
importFrom("graphics", abline, lines, par, persp, plot,points,image)
importFrom("stats", median, nlminb, dist, quantile, qqnorm,  pweibull, nlm, optim, optimize, integrate, pchisq,pnorm,qnorm,qlnorm,qgamma,qweibull, qbeta,qlogis,lm, rnorm, pt,qt,uniroot, var,cor)
importFrom("methods","is", "new", "slot<-")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
import("Rfast", "fields", "mapproj", "plot3D", "shape")




